body {
  font-family: "Poppins", sans-serif;
}

header {
  background: url("./img/activity-adventure-backlit-backpack-450062.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#random {
  color: #aa9d73;
}

.fa-shopping-bag {
  font-size: 1.4rem;
}
